[submodule "extern/z3"]
	path = extern/z3
	url = git@github.com:Z3Prover/z3
[submodule "extern/kissat"]
	path = extern/kissat
	url = git@github.com:arminbiere/kissat.git
[submodule "extern/gs-bmc-encoder"]
	path = extern/gs-bmc-encoder
	url = git@github.com:sebastiaanbrand/gs-bmc-encoder.git
